<% layout('layouts/canbo') %>

<style>
  p {
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
  }
  a {
    color: black;
    text-decoration: none;
  }
  a:hover {
    color: #0d6efd;
  }
</style>

<script>
    $(document).ready(function() {
        $("#btnSubmit").click(function(){
            var passInput=$("#password");
            var passClass=$("#btnSubmit");
            if(passInput.attr('type')==='password')
            {
                passInput.attr('type','text');
                $("i", this).toggleClass("bi bi-eye bi bi-eye-slash");
            } else {
                passInput.attr('type','password');
                $("i", this).toggleClass("bi bi-eye-slash bi bi-eye");
            }
        }); 
    });
</script>

<form action="/so/canbo/chinh-sua-tai-khoan-cb/<%= canBo._id %>?_method=PUT" method="POST" enctype="application/x-www-form-urlencoded">
    <div class="container p-3 bg-light rounded overflow-auto">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/so/canbo/tai-khoan-cb">Danh sách tài khoản cán bộ phường quận</a></li>
                <li class="breadcrumb-item active" aria-current="page">Chỉnh sửa tài khoản cán bộ</li>
            </ol>
        </nav>
        <div class="container col-lg-8 mt-4">
            <div class="card">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <p class="text-center h3 fw-bold mb-5 mx-1 mx-md-4 mt-4">Cập nhật tài khoản cán bộ</p>
                    <div class="col-md-10 mt-3 ps-3">
                        <label class="fw-bold">Họ tên</label>
                        <input type="text" name="username" placeholder="Nhập họ tên cán bộ" value="<%= canBo.username %>" class="form-control" required>
                    </div>
                    <div class="col-md-5 mt-3 ps-3">
                        <label class="fw-bold">Ngày sinh</label>
                        <input type="date" name="birthday" value="<%= canBo.birthday %>" class="form-control" required>
                    </div>
                    <div class="col-md-5 mt-3 ps-3">
                        <label class="fw-bold">Số điện thoại</label>
                        <input type="text" name="phone" placeholder="Nhập số điện thoại" value="<%= canBo.phone %>" class="form-control" required>
                        <div id="validationFeedback" class="invalid-feedback">Số điện thoại không được khác 10</div>
                    </div>
                    <div class="col-md-5 mt-3 ps-3">
                        <label class="fw-bold">Email</label>
                        <input type="text" name="email" placeholder="Nhập địa chỉ email" value="<%= canBo.email %>" class="form-control" required>
                    </div>
                    <div class="col-md-5 mt-3 ps-3">
                        <label class="fw-bold">Vai trò</label>
                        <select class="form-select" name="role" id="" required>
                            <option value= <%= canBo.role == "phuong" ? "phuong" : "quan" %> selected><%= canBo.role == "phuong" ? "Cán bộ phường" : "Cán bộ quận" %></option>
                            <% if (canBo.role == "quan") { %>
                                <option value="phuong">Cán bộ phường</option>
                            <% } else { %>
                                <option value="quan">Cán bộ quận</option>
                            <% } %>
                        </select>
                    </div> 
                    <div class="col-md-5 mt-3 ps-3">
                        <label class="fw-bold">Quận quản lý</label>
                        <select name="item[districtId]" class="form-select" aria-label="Default select example">
                            <option value="" selected disabled>Chọn Quận</option>
                            <% for (let district of districtList) { %>
                                <option value="<%= district.id %>" <%= canBo.district == district.id ? "selected" : "" %>><%= district.name %></option>
                            <% } %>
                        </select>
                    </div>
                    <div class="col-md-5 mt-3 ps-3">
                        <label class="fw-bold">Phường quản lý</label>
                        <select name="item[phuongId]" class="form-select" aria-label="Default select example">
                        </select>
                    </div>
                    <div class="col-md-4 mt-5 mb-5 mx-1 mx-md-4 ps-3">
                        <button class="form-control fs-6 fw-bold" style="background-color: #468b4a;" type="submit" id="editButton"><p class="text-white">Chỉnh sửa tài khoản</p></button>
                    </div>
                    <div class="col-md-4 mt-5 mb-5 mx-1 mx-md-4 ps-3">
                        <button class="form-control fs-6 fw-bold" style="background-color: #dc4b23;" id="deleteButton" type="button" data-bs-toggle="modal" 
                        data-bs-target="#deleteModal"><p class="text-white">Xóa tài khoản</p></button>
                    </div>
                </div>
            </div>
        </div>
</form>

<div class="modal fade" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title fw-bold">Thông báo xác nhận xóa tài khoản cán bộ</div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Không"></button>
        </div>
        <div class="modal-body">
          <p>
            Hành động này sẽ xóa <strong>vĩnh viễn</strong> tài khoản cán bộ.<br> Bạn có chắc không?
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
          <form action="<%= canBo._id %>?_method=DELETE" method="POST" class="position-relative">
            <button type="submit" class="btn btn-primary">
                Đồng ý
            </button>
          </form>
        </div>
      </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", async function() {
        var district = undefined
        var ward = undefined
        var selectedRole = undefined
        var roleSelect = document.querySelector('select[name="role"]');
        selectedRole = roleSelect.value;
        var districtSelect = document.querySelector('select[name="item[districtId]"]');
        var wardSelect = document.querySelector('select[name="item[phuongId]"]');
        var wardId = `<%= canBo.ward %>`;

        // Disable the second select initially
        wardSelect.disabled = true;

        roleSelect.addEventListener('change', async function() {
            selectedRole = roleSelect.value;
        })
        districtSelect.addEventListener('change', async function () {
            var selectedDistrictId = districtSelect.value;
        })
        
        if (districtSelect.value) {
            var selectedDistrictId = districtSelect.value;
            var selectedDistrictName = 'Quận '+ districtSelect.options[districtSelect.selectedIndex].text;
            if (selectedRole == "phuong") {
                wardSelect.disabled = selectedDistrictId === '';
                // Fetch and populate wards for the selected district
                fetch(`/so/quanly/quan/${selectedDistrictId}/phuong?json=true`)
                    .then(response => response.json())
                        .then(data => {
                            // Clear existing options
                            wardSelect.innerHTML = '<option value="" selected disabled>Chọn Phường</option>';
                            // Iterate over the array and append options to 'wardSelect'
                            data.forEach(ward => {
                                var option = document.createElement('option');
                                option.value = ward._id;
                                option.textContent = ward.name;
                                wardSelect.appendChild(option);
                                if (ward._id === wardId) {
                                    option.selected = true;
                                }
                            });
                        })
                    .catch(error => console.error('Error fetching wards:', error));
                wardSelect.addEventListener('change', async function () {
                    var selectedWardId = wardSelect.value;
                });
            } else {
                wardSelect.innerHTML = '<option value="" selected disabled>Tất cả phường</option>';
            }
        }
        // Add an event listener to the first select to enable/disable the second select
        districtSelect.addEventListener('change', async function () {
            var selectedDistrictId = districtSelect.value;
            var selectedDistrictName = 'Quận '+ districtSelect.options[districtSelect.selectedIndex].text;
            if (selectedRole == "phuong") {
                wardSelect.disabled = selectedDistrictId === '';
                // Fetch and populate wards for the selected district
                fetch(`/so/quanly/quan/${selectedDistrictId}/phuong?json=true`)
                    .then(response => response.json())
                        .then(data => {
                            // Clear existing options
                            wardSelect.innerHTML = '<option value="" selected disabled>Chọn Phường</option>';
                            // Iterate over the array and append options to 'wardSelect'
                            data.forEach(ward => {
                                var option = document.createElement('option');
                                option.value = ward._id;
                                option.textContent = ward.name;
                                wardSelect.appendChild(option);
                                if (ward._id === wardId) {
                                    option.selected = true;
                                }
                            });
                        })
                    .catch(error => console.error('Error fetching wards:', error));
                wardSelect.addEventListener('change', async function () {
                    var selectedWardId = wardSelect.value;
                });
            } else {
                wardSelect.innerHTML = '<option value="" selected disabled>Tất cả phường</option>';
            }
        });
        roleSelect.addEventListener('change', async function () {
            var selectedDistrictId = districtSelect.value;
            var selectedDistrictName = 'Quận '+ districtSelect.options[districtSelect.selectedIndex].text;
            // Enable the second select if a district is selected, otherwise disable it
            if (selectedRole == "phuong") {
                wardSelect.disabled = selectedDistrictId === '';
                // Fetch and populate wards for the selected district
                fetch(`/so/quanly/quan/${selectedDistrictId}/phuong?json=true`)
                    .then(response => response.json())
                        .then(data => {
                        // Clear existing options
                        wardSelect.innerHTML = '<option value="" selected disabled>Chọn Phường</option>';
                        // Iterate over the array and append options to 'wardSelect'
                        data.forEach(ward => {
                            var option = document.createElement('option');
                            option.value = ward._id;
                            option.textContent = ward.name;
                            wardSelect.appendChild(option);
                            if (ward._id === wardId) {
                            option.selected = true;
                            }
                        });
                    })
                .catch(error => console.error('Error fetching wards:', error));
                
            wardSelect.addEventListener('change', async function () {
                var selectedWardId = wardSelect.value;
            });
        } else {
            wardSelect.innerHTML = '<option value="" selected disabled>Tất cả phường</option>';
        }
    });
});
</script>

<script>
    const submitTrigger = document.getElementById("editButton");
    submitTrigger.onclick = function (event) {
        let invalidPhoneNumber = document.getElementsByName("phone")[0].value.length !== 10;
        let invalid = invalidPhoneNumber;
        console.log("Invalid: " + invalid);
        if (invalid) {
            event.preventDefault();
            event.stopPropagation();
        }
        document.getElementsByName("phone")[0].classList.toggle("is-invalid", invalidPhoneNumber);
    }
</script>