<% layout('layouts/canbo') %>

  <style>
    .status {
      border-radius: 1rem;
    }

    .status.notAccept {
      background-color: #F6808e;
    }

    .status.Accept {
      background-color: #80f6b0;
    }

    .status.notHandle {
      background-color: #9780f6;
    }

    p {
      margin: 0;
      padding: 0;
      text-align: center;
    }

    .nopadding {
      padding: 0 !important;
    }

    #edit:hover {
      color: #f6db80;
    }

    .del:hover {
      color: #F6808e;
    }
  </style>

  <script>
    function showMessage() {
      alert('Đang xử lý');
    }
  </script>

  <section class="d-flex justify-content-between">
    <div class="fs-6">
      <input type="text" readonly class="form-control-plaintext fw-bold mx-3" style="font-weight: bold;" id="" value="Danh sách tài khoản cán bộ">
    </div>
    <div class="d-flex flex-row align-items-center">
      <div class="md-col-2 me-2">
        <select name="item[loaiCanBo]" class="form-select" aria-label="Default select example">
          <option value="" selected >Tất cả cán bộ</option>
          <option value="phuong" <%= loaiCanBo == "phuong" ? "selected" : "" %> >Cán bộ phường</option>
          <option value="quan" <%= loaiCanBo == "quan" ? "selected" : "" %> >Cán bộ quận</option>
        </select>
      </div>
      <!-- <div class="md-col-2 ms-2">
        <a class="btn btn-primary btn-sm btn-responsive" href="/so/canbo/tai-khoan-cb" role="button"><span
            class="bi bi-trash3" </span> Xóa lọc</a>
      </div> -->
      <div class="md-col-2 ms-2">
        <a class="btn btn-warning btn-sm btn-responsive" href="dang-ky-tai-khoan-cb" role="button"><span
            class="bi bi-person-plus-fill" </span>Thêm cán bộ</a>
      </div>
    </div>
  </section>
  <section class="border rounded mt-2">
    <table class="table table-light table-striped">
      <thead>
        <tr>
          <th scope="col">STT</th>
          <th scope="col">Họ tên</th>
          <th scope="col">Ngày sinh</th>
          <th scope="col">Email</th>
          <th scope="col">Điện thoại</th>
          <th scope="col">Loại cán bộ</th>
          <th scope="col">Quận</th>
          <th scope="col">Phường</th>
          <th scope="col">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i=0; i<canBo.length; i++) { %>
          <tr class="align-items-center">
            <th scope="row">
                <%= i + 1 %>
              </th>
              <td>
                <%= canBo[i].username %>
              </td>
              <td>
                <%= new Date(canBo[i].birthday).toLocaleDateString() %>
              </td>
              <td>
                <%= canBo[i].email %>
              </td>
              <td>
                <%= canBo[i].phone %>
              </td>
              <td>
                <%= canBo[i].role == "phuong" ? "Cán bộ phường" : "Cán bộ quận" %>
              </td>
              <td>
                <%= canBo[i].district?.name %>
              </td>
              <td>
                <%= canBo[i].ward?.name %>
              </td>
              <td class="text-center">
                <div class="d-flex flex-row align-items-center">
                  <a name="edituser" id="edit" class="btn nopadding mx-1"
                    href="chinh-sua-tai-khoan-cb/<%=canBo[i]._id%>" role="button"><i
                      class="bi bi-pencil-fill"></i></a>
                      <button class="btn nopadding mx-1 del" id="deleteButton" type="button" data-bs-toggle="modal" 
                      data-id="<%= canBo[i]._id %>" data-bs-target="#deleteModal"><i class="bi bi-trash-fill"></i></button>
                </div>
              </td>
            </tr>
          <% } %>
      </tbody>
    </table>
  </section>

  <% messageAdd.forEach(element=> { %>
    <section class="d-flex justify-content-center mt-auto">
      <div class="alert alert-success alert-dismissible fade show">
        <strong>Thông báo:</strong>
        <%= messageAdd %>.
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
    </section>
  <% }) %>
  <% messageEdit.forEach(element=> { %>
    <section class="d-flex justify-content-center mt-auto">
      <div class="alert alert-warning alert-dismissible fade show">
        <strong>Thông báo:</strong>
        <%= messageEdit %>.
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
    </section>
  <% }) %>
  <% messageDel.forEach(element=> { %>
    <section class="d-flex justify-content-center mt-auto">
      <div class="alert alert-danger alert-dismissible fade show">
        <strong>Thông báo:</strong>
        <%= messageDel %>.
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
    </section>
  <% }) %>
  <% messageErr.forEach(element=> { %>
    <section class="d-flex justify-content-center mt-auto">
      <div class="alert alert-danger alert-dismissible fade show">
        <strong>Thông báo:</strong>
        <%= messageErr %>.
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
    </section>
  <% }) %>
  <%- include('../../partials/pagination') %>
    <style>
    /* Add this style to your custom CSS or in a style tag within your HTML */
    .min-w {
      min-width: 140px; /* Set the desired minimum width */
    }
  </style>
  <div class="modal fade" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title fw-bold">Thông báo xác nhận xóa tài khoản cán bộ</div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Không"></button>
        </div>
        <div class="modal-body">
          <p>
            Hành động này sẽ xóa <strong>vĩnh viễn</strong> tài khoản cán bộ.<br> Bạn có chắc không?
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            <form id="deleteForm" method="POST" class="position-relative">
                <button type="submit" class="btn btn-primary">
                    Đồng ý
                </button>
            </form>
        </div>
      </div>
    </div>
  </div>

<script>
  var vaiTro = undefined;
  var listVaiTro = document.querySelector('select[name="item[loaiCanBo]"]');

  listVaiTro.addEventListener('change', async function () {
      // window.location.href ='?loaiCanBo=' + listVaiTro.value;
      const currentUrl = new URL(window.location.href);

      // Get the existing query parameters
      const params = new URLSearchParams(currentUrl.search);

      // Add or update the query parameters
      if (listVaiTro.value) {
          params.set('loaiCanBo', listVaiTro.value);
      } else {
          params.delete('loaiCanBo');
      }
      params.set('page', 1);

      // Update the URL with the modified query parameters
      currentUrl.search = params.toString();

      // Redirect to the updated URL
      window.location.href = currentUrl.href;
  });

</script>

<script>
  $('#deleteModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var userId = button.data('id');
      $('#deleteForm').attr('action', 'chinh-sua-tai-khoan-cb/' + userId + '?_method=DELETE');
  });
</script>