<% layout('layouts/canbo') %>
<section class="d-flex justify-content-between">
    <% if (props.type === "Quận") {%>
    <%- include('../../../partials/so/quanLyDropdown') %>
    <% } else { %>
    <h4>Danh sách phường</h4>
    <% } %>
    <div>
        <% if (props.type === 'Quận') { %>
        <a class="btn btn-primary rounded-pill" href="/so/quanly/quan/add" role="button">Thêm <i class="bi bi-plus"></i></a>
        <% } else { %>
        <a class="btn btn-primary rounded-pill" href="/so/quanly/quan/<%= props.quanId %>/phuong/add" role="button">Thêm <i class="bi bi-plus"></i></a>
        <% } %>
    </div>
</section>
<section class="overflow-auto my-3 border rounded">
    <div>
        <table class="table table-light table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Tên <%= props.type %></th>
                    <th scope="col">Mô tả</th>
                    <th scope="col">Chú thích</th>
                    <th scope="col">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                <% let i = 1; %>
                <% for (let item of items) { %> 
                <% if (props.type === 'Quận') { %>
                <tr class="clickable" onclick= "window.location='/so/quanly/quan/<%= item.id %>/phuong'">
                <% } else { %>
                <tr class="clickable">
                <% } %>
                    <th scope="row"><%= i++ %></th>
                    <td class="text-break"><%= item.name %></td>
                    <td class="text-break"><%= item.description %></td>
                    <td class="text-break"><%= item.note %></td>
                    <td class="text-break">
                        <div class="d-flex">
                            <% if (props.type === 'Quận') { %>
                            <!-- <a href="/so/quanly/quan/<%= item.id %>/phuong"><i class="bi bi-info-circle btn p-0 btn-link"></i></a> -->
                            <a href="/so/quanly/quan/<%= item.id %>/edit" onclick="event.stopPropagation()"><i class="bi bi-pencil-fill ps-2 btn p-0 btn-link"></i></a>
                            <form class="showPopUp" action="/so/quanly/quan/<%= item.id %>?_method=DELETE"method="post">
                                <button class="btn btn-link p-0 ps-2"><i class="bi bi-trash3-fill" onclick="event.stopPropagation()"></i></button>
                            </form>
                            <% } else { %>
                            <a class="btn btn-link p-0" href="/so/quanly/quan/<%= props.quanId %>/phuong/<%= item.id %>/edit"><i class="bi bi-pencil-fill"></i></a>
                            <form class="showPopUp" action="/so/quanly/quan/<%= props.quanId %>/phuong/<%= item.id %>?_method=DELETE"method="POST">
                                <button class="btn btn-link p-0 ps-2"><i class="bi bi-trash3-fill"></i></button>
                            </form>
                            <% } %>
                        </div>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</section>
<%#- include('../../../partials/pagination') %>