<% layout('layouts/canbo') %>

<div class="card m-auto" style="width: 30rem">
  <!-- refer to routes/phuong.js to see data example -->
  <img src="<%= details.image.url %>" class="card-img-top" alt="" />

  <div class="card-body py-1">
    <h3 class="card-title">Chi tiết bảng quảng cáo</h3>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Địa chỉ: <b><%= details.adLocation.address %></b></li>
    <li class="list-group-item">Khu vực: <b>Quận <%= details.adLocation.district.name %></b>, <b>Phường <%= details.adLocation.ward.name %></b></li>
    <li class="list-group-item">Loại bảng: <b><%=details.boardType.name%></b></li>

    <li class="list-group-item">Hình thức: <b><%= details.adLocation.adType.name %></b></li>
    <li class="list-group-item">Phân loại: <b><%= details.adLocation.type.name %></b></li>

    <li class="list-group-item">Kích thước: <%=details.size.w%>m x <%=details.size.h%>m</li>

    <li class="list-group-item">Số lượng: <b><%=details.quantity%> trụ/bảng</b></li>
    <li class="list-group-item">Ngày bắt đầu hợp đồng: <b><%=details.startDate.d%>/<%=details.startDate.m%>/<%=details.startDate.y%></b></li>
    <li class="list-group-item">Ngày kết thúc hợp đồng:<b><%=details.expireDate.d%>/<%=details.expireDate.m%>/<%=details.expireDate.y%></b></li>
  </ul>
  <div class="card-body d-flex flex-row" id="buttons">
    <% if (user.role == 'so') { %>
    <a href="/so/quanly/bang-quang-cao/<%= details._id %>/edit" class="btn btn-secondary me-3">Chỉnh sửa</a>
    <form action="/bang-quang-cao/<%= details._id %>/edit?_method=delete" method="post"><button class="btn btn-danger">Xoá</button></form>
    <% } else { %>
    <a href="/cac-bang-quang-cao/<%=details._id%>/chinh-sua" class="btn btn-secondary me-3">Chỉnh sửa</a>
    <a href="/cac-bang-quang-cao/<%=details._id%>/xem-yeu-cau" class="btn btn-warning me-3">Xem yêu cầu cấp phép</a>
    <% } %>
  </div>
</div>
