<% layout('layouts/canbo') %>

<div class="container p-2">
	<div class="card shadow-lg border border-0">
		<div class="card-header border border-0" style="background-color: lightsteelblue;">
			<h4 class="card-title">Chi tiết bảng quảng cáo</h4>
		</div>
		<div class="card-body m-0 row">
			<div class="col align-self-center">
				<img src="<%= details.image.url %>" class="img-thumbnail mx-auto d-block" alt="" />
			</div>
			<div class="col d-flex flex-column p-2">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Địa chỉ: <b><%= details.adLocation.address %></b></li>
            <li class="list-group-item">Khu vực: <b>Quận <%= details.adLocation.district.name %></b>, <b>Phường <%= details.adLocation.ward.name %></b></li>
            <li class="list-group-item">Loại bảng: <b><%=details.boardType.name%></b></li>
            <li class="list-group-item">Hình thức: <b><%= details.adLocation.adType.name %></b></li>
            <li class="list-group-item">Phân loại: <b><%= details.adLocation.type.name %></b></li>
            <li class="list-group-item">Kích thước: <b><%=details.size.h%>m x <%=details.size.w%>m</b></li>
            <li class="list-group-item">Số lượng: <b><%=details.quantity%> trụ/bảng</b></li>
            <li class="list-group-item">Ngày bắt đầu hợp đồng: <b><%=details.startDate%></b></li>
            <li class="list-group-item">Ngày kết thúc hợp đồng: <b><%=details.expireDate%></b></li>
            <li class="list-group-item">Tình trạng: <b><%= details.status %></b></li>
          </ul>
          <div class="d-flex flex-row mt-auto justify-content-end">
            <% if (user.role === 'so') { %>
            <a href="/so/quanly/diem-dat-quang-cao/<%= details.adLocation._id %>/bang-quang-cao/<%= details._id %>/edit" class="btn btn-secondary">Chỉnh sửa</a>
            <form
              class="showPopUp"
              action="/so/quanly/diem-dat-quang-cao/<%= details.adLocation._id %>/bang-quang-cao/<%= details._id %>?_method=delete"
              method="post"
            >
              <button class="btn btn-danger mx-3">Xoá</button>
            </form>
            <% } else { %> <% if (details.status == "Đã duyệt") { %>
            <a href="/cac-bang-quang-cao/<%=details._id%>/chinh-sua" class="btn btn-secondary me-3">Chỉnh sửa</a>
            <%}%>
            <a href="/cac-bang-quang-cao/<%=details._id%>/xem-yeu-cau" class="btn btn-warning me-3">Xem yêu cầu cấp phép</a>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
