<% layout('layouts/canbo') %>
<div class="container rounded border shadow col-8" style="padding: 1rem 7rem">
  <h1 class="text-center mb-4">Chỉnh sửa bảng quảng cáo</h1>
  <form action="<%=edit_href%>" method="post" enctype="multipart/form-data">
    <div class="row">
      <div class="mb-3 col-6">
        <label for="address" class="form-label">Địa chỉ </label>
        <input type="text" class="form-control" id="address" placeholder="" value="<%= adLocation.address %>" disabled readonly />
      </div>
      <div class="mb-3 col-3">
        <label for="district" class="form-label">Quận</label>
        <input type="text" class="form-control" id="district" placeholder="" value="<%= adLocation.district.name %>" disabled readonly />
      </div>
      <div class="mb-3 col-3">
        <label for="ward" class="form-label">Phường</label>
        <input type="text" class="form-control" id="ward" placeholder="" value="<%= adLocation.ward.name %>" disabled readonly />
      </div>
    </div>
    <div class="mb-3">
      <label for="boardType" class="form-label">Loại bảng quảng cáo</label>
      <select name="item[boardType]" class="form-select" aria-label="Default select example" id="boardType">
        <% for (let boardType of boardTypes) { %> <% if (boardType.name === adBoard.boardType) { %>
        <option value="boardType._id" selected><%= boardType.name %></option>
        <% } else { %>
        <option value="<%= boardType._id %>"><%= boardType.name %></option>
        <% } %> <% } %>
      </select>
    </div>
    <div class="d-flex">
      <div class="mb-3">
        <label for="quantity" class="form-label d-block">Số lượng</label>
        <input
          name="item[quantity]"
          type="text"
          class="form-control d-inline"
          id="quantity"
          placeholder=""
          value="<%= adBoard.quantity %>"
          oninput="resizeInput(this)"
          style="width: 1ch; box-sizing: content-box"
        />
        trụ/bảng
      </div>
      <fieldset class="mb-3 ms-4">
        <label for="moTa" class="form-label d-block">Kích thước</label>
        <input
          name="item[size][h]"
          type="text"
          class="form-control d-inline"
          id="height"
          placeholder=""
          value="<%= adBoard.size.h %>"
          oninput="resizeInput(this)"
          style="width: 3ch; box-sizing: content-box"
        />
        m x
        <input
          name="item[size][w]"
          type="text"
          class="form-control d-inline"
          id="width"
          placeholder=""
          value="<%= adBoard.size.w %>"
          oninput="resizeInput(this)"
          style="width: 3ch; box-sizing: content-box"
        />
        m
      </fieldset>
    </div>
    <div class="row">
      <div class="mb-3 col-4">
        <label for="start" class="form-label">Ngày bắt đầu hợp đồng</label>
        <input
          name="item[startDate]"
          class="form-control"
          type="date"
          id="start"
          name="trip-start"
          value="<%= adBoard.startDate %>"
          min="2018-01-01"
          max="2030-12-31"
        />
        <div id="validationFeedback" class="invalid-feedback">Ngày bắt đầu không được sau ngày kết thúc</div>
      </div>
      <div class="mb-3 col-4">
        <label for="start" class="form-label">Ngày kết thúc hợp đồng</label>
        <input name="item[expireDate]" class="form-control" type="date" id="start" name="trip-start" value="<%= adBoard.expireDate %>" />
        <div id="validationFeedback" class="invalid-feedback">Ngày bắt đầu không được sau ngày kết thúc</div>
      </div>
    </div>
    <% if (user.role == 'so') { %>
    <div class="mb-3">
      <p><b>Tình trạng</b></p>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="item[status]" id="inlineRadio1" value="Chưa duyệt" <%= adBoard.status=='Chưa duyệt'? 'checked':''%>>
        <label class="form-check-label" for="inlineRadio1">Chưa duyệt</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="item[status]" id="inlineRadio2" value="Đã duyệt" <%= adBoard.status=='Đã duyệt'? 'checked':''%>>
        <label class="form-check-label" for="inlineRadio2">Đã duyệt</label>
      </div>
      <div class="form-check form-check-inline">
        <label class="form-check-label" for="inlineRadio3">Không duyệt</label>
        <input class="form-check-input" type="radio" name="item[status]" id="inlineRadio3" value="Không duyệt" <%= adBoard.status=='Không duyệt'?
        'checked':''%>>
      </div>
    </div>
    <% } %>
    <div class="mb-3">
      <label for="formFile" class="form-label">Chọn ảnh mới</label>
      <input name="image" class="form-control" type="file" id="formFile" />
    </div>
    <% if (user.role !== 'so') { %>
    <div class="mb-3">
      <label for="moTa" class="form-label">Lý do chỉnh sửa</label>
      <textarea class="form-control" id="moTa" rows="3" name="item[reason]"></textarea>
      <div id="validationFeedback" class="invalid-feedback">Không được để trống lý do chỉnh sửa</div>
    </div>
    <div class="mb-3 text-center">
      <button class="btn btn-info" id="editButton">Gửi yêu cầu chỉnh sửa</button>
    </div>
    <% } else {%>
    <div class="mb-3 text-center">
      <button class="btn btn-info" id="editButton">Chỉnh sửa</button>
    </div>
    <% } %>
  </form>
</div>

<style>
  label {
    font-weight: bold;
  }
</style>

<script>
  // function resizeInput(input) {
  //   input.style.width = input.value.length + 5 + "ch" + ;
  // }

  let user = "<%= user.role %>";

  if (user !== "so") {
    const submitTrigger = document.getElementById("editButton");

    submitTrigger.onclick = function (event) {
      let editReasonEmpty = document.getElementById("moTa").value === "";
      const startDate = new Date(document.getElementsByName("item[startDate]")[0].value);
      const endDate = new Date(document.getElementsByName("item[expireDate]")[0].value);

      let invalid = editReasonEmpty || startDate > endDate;
      event.preventDefault(invalid);
      event.stopPropagation(invalid);
      document.getElementById("moTa").classList.toggle("is-invalid", editReasonEmpty);
      document.getElementsByName("item[startDate]")[0].classList.toggle("is-invalid", startDate > endDate);
      document.getElementsByName("item[expireDate]")[0].classList.toggle("is-invalid", startDate > endDate);
    };
  }
  function isNumber(value) {
        return !isNaN(value) && !isNaN(parseFloat(value));
    }

    function validateInput(input) {
        if (!isNumber(input.value) && input.value.length > 0) {
            input.setCustomValidity('Phải nhập số');
            input.reportValidity();
        } else {
            input.setCustomValidity('');
        }
    }

    // Attach the validateInput function to the onkeyup event of your input fields
    document.getElementById('quantity').addEventListener('keyup', function() {
        validateInput(this);
    });

    document.getElementById('height').addEventListener('keyup', function() {
        validateInput(this);
    });

    document.getElementById('width').addEventListener('keyup', function() {
        validateInput(this);
    });

  function isStartDateAfterEndDate() {
    const startDate = new Date(document.getElementsByName("item[startDate]")[0].value);
    const endDate = new Date(document.getElementsByName("item[expireDate]")[0].value);

    return startDate > endDate;
  }
</script>
