<% layout('layouts/canbo') %>
<div class="container rounded border shadow col-8" style="padding: 1rem 7rem">
  <h1 class="text-center mb-4">Chỉnh sửa bảng quảng cáo</h1>
  <form action="/so/quanly/diem-dat-quang-cao/<%= adLocation._id %>/bang-quang-cao/<%= adBoard._id %>?_method=put" method="post" enctype="multipart/form-data">
    <div class="row">
      <div class="mb-3 col-6">
        <label for="address" class="form-label">Địa chỉ </label>
        <input type="text" class="form-control" id="address" placeholder="" value="<%= adLocation.address %>" disabled readonly />
      </div>
      <div class="mb-3 col-3">
        <label for="district" class="form-label">Quận</label>
        <input type="text" class="form-control" id="district" placeholder="" value="<%= adLocation.district.name %>" disabled readonly />
      </div>
      <div class="mb-3 col-3">
        <label for="ward" class="form-label">Phường</label>
        <input type="text" class="form-control" id="ward" placeholder="" value="<%= adLocation.ward.name %>" disabled readonly />
      </div>
    </div>
    <div class="mb-3">
      <label for="boardType" class="form-label">Loại bảng quảng cáo</label>
      <select name="item[boardType]" class="form-select" aria-label="Default select example" id="boardType">
        <% for (let boardType of boardTypes) { %> <% if (boardType.name === adBoard.boardType) { %>
        <option value="boardType._id" selected><%= boardType.name %></option>
        <% } else { %>
        <option value="<%= boardType._id %>"><%= boardType.name %></option>
        <% } %> <% } %>
      </select>
    </div>
    <div class="d-flex">
      <div class="mb-3">
        <label for="moTa" class="form-label d-block">Số lượng</label>
        <input
          name="item[quantity]"
          type="text"
          class="form-control d-inline"
          id="ward"
          placeholder=""
          value="<%= adBoard.quantity %>"
          oninput="resizeInput(this)"
          style="width: 1ch; box-sizing: content-box"
        />
        trụ/bảng
      </div>
      <fieldset class="mb-3 ms-4">
        <label for="moTa" class="form-label d-block">Kích thước</label>
        <input
          name="item[size][h]"
          type="text"
          class="form-control d-inline"
          id="ward"
          placeholder=""
          value="<%= adBoard.size.h %>"
          oninput="resizeInput(this)"
          style="width: 3ch; box-sizing: content-box"
        />
        m x
        <input
          name="item[size][w]"
          type="text"
          class="form-control d-inline"
          id="ward"
          placeholder=""
          value="<%= adBoard.size.w %>"
          oninput="resizeInput(this)"
          style="width: 3ch; box-sizing: content-box"
        />
        m
      </fieldset>
    </div>
    <div class="row">
      <div class="mb-3 col-4">
        <label for="start" class="form-label">Ngày bắt đầu hợp đồng</label>
        <input
          name="item[startDate]"
          class="form-control"
          type="date"
          id="start"
          name="trip-start"
          value="<%= adBoard.startDate %>"
          min="2018-01-01"
          max="2030-12-31"
        />
      </div>
      <div class="mb-3 col-4">
        <label for="start" class="form-label">Ngày kết thúc hợp đồng</label>
        <input
          name="item[expireDate]"
          class="form-control"
          type="date"
          id="start"
          name="trip-start"
          value="<%= adBoard.expireDate %>"
          min="2018-01-01"
          max="2030-12-31"
        />
      </div>
    </div>
    <div class="mb-3">
      <label for="formFile" class="form-label">Chọn ảnh mới</label>
      <input name="image" class="form-control" type="file" id="formFile" />
    </div>
    <% if (user.role !== 'so') { %>
    <div class="mb-3">
      <label for="moTa" class="form-label">Lý do chỉnh sửa</label>
      <textarea class="form-control" id="moTa" rows="3"></textarea>
    </div>
    <% } %>
    <div class="mb-3 text-center">
      <button class="btn btn-info">Chỉnh sửa</button>
    </div>
  </form>
</div>

<style>
  label {
    font-weight: bold;
  }
</style>

<script>
  // function resizeInput(input) {
  //   input.style.width = input.value.length + 5 + "ch" + ;
  // }

  let user = "<%= user.role %>";

  if (user !== "so") {
    const submitTrigger = document.getElementById("editButton");

    submitTrigger.onclick = function (event) {
      let editReasonEmpty = document.getElementById("moTa").value === "";

      if (editReasonEmpty) {
        event.preventDefault();
        event.stopPropagation();
        document.getElementById("moTa").classList.add("is-invalid");
      } else {
        document.getElementById("moTa").classList.remove("is-invalid");
      }
    };
  }
</script>
