<% layout('layouts/canbo') %>
<section class="d-flex justify-content-between">
    <%- include('../../../partials/so/quanLyDropdown') %>
    <div>
        <a class="btn btn-primary rounded-pill" href="/so/quanly/bang-quang-cao/add" role="button">Thêm <i class="bi bi-plus"></i></a>
    </div>
</section>
<section class="overflow-auto my-3 border rounded">
    <div class=" ">
        <table class="table table-light table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Địa chỉ</th>
                    <th scope="col">Khu vực</th>
                    <th scope="col">Loại bảng</th>
                    <th scope="col">Kích thước</th>
                    <th scope="col">Số lượng</th>
                </tr>
            </thead>
            <tbody>
                <% let i = 1; %>
                <% for (let adBoard of adBoards) { %>
                <tr class='clickable' onclick= "window.location='/so/quanly/bang-quang-cao/<%= adBoard.id %>'">
                    <th scope="row"><%= i++ %></th>
                    <td><%= adBoard.adLocation.address %></td>
                    <td>Quận <%= adBoard.adLocation.district.name %>, Phường <%= adBoard.adLocation.ward.name %></td>
                    <td><%= adBoard.boardType.name %></td>
                    <td><%= adBoard.size.h %>m x <%= adBoard.size.w %>m</td>
                    <td><%= adBoard.quantity %> trụ/bảng</td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</section>
<section class="d-flex justify-content-center mt-auto">
    <nav aria-label="...">
        <ul class="pagination m-0 justify-content-end">
            <li class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</section>
