<% layout('layouts/canbo') %>
<link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>

<!-- Load the `mapbox-gl-geocoder` plugin. -->
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">


<div class="row mt-3 position-relative">
    <div class="container rounded border shadow col-8" style="padding: 1rem 7rem;">
        <h1 class="text-center mb-4">Thêm điểm đặt quảng cáo</h1>
        <form action="/so/quanly/diem-dat-quang-cao" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="coord" class="form-label">Toạ độ</label>
                <div class="input-group">
                    <input name="item[longLat]" id="coord" type="text" class="form-control" placeholder="Nhấn vào icon để chọn địa điểm..." readonly required>
                    <span class="input-group-text globe-icon" id="basic-addon2"><i class="bi bi-globe2"></i></span>
                </div>
                </div>
            <div class="mb-3">
                <label for="address" class="form-label">Địa chỉ </label>
                <input name="item[address]" type="text" class="form-control" id="address" readonly required>
            </div>
            <div class="row">
                <div class="mb-3 col-6">
                    <label for="district" class="form-label">Quận</label>
                    <div>
                        <input id="displayDistrict" class="form-control" readonly disabled></input>
                        <input name="item[district]" type="text" class="form-control d-none" id="district" readonly required>
                    </div>
                </div>
                <div class="mb-3 col-6">
                    <label for="ward" class="form-label">Phường</label>
                    <div>
                        <input id="displayWard" class="form-control" readonly disabled></input>
                        <input name="item[ward]" type="text" class="form-control d-none" id="ward" readonly required>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="boardType" class="form-label">Loại vị trí</label>
                <select name="item[type]" class="form-select" aria-label="Default select example" id="boardType">
                    <% for (let locationType of locationTypes) { %>
                        <option value="<%= locationType._id %>"><%= locationType.name %></option>
                    <% } %>
                  </select>
            </div>
            <div class="mb-3">
                <label for="boardType" class="form-label">Hình thức</label>
                <select name="item[adType]" class="form-select" aria-label="Default select example" id="boardType">
                    <% for (let adType of adTypes) { %>
                        <option value="<%= adType._id %>"><%= adType.name %></option>
                    <% } %>
                  </select>
            </div>
            <div class="mb-3">
                <p>Quy hoạch</p>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="item[status]" id="inlineRadio1" value="Đã quy hoạch">
                    <label class="form-check-label" for="inlineRadio1">Đã quy hoạch</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="item[status]" id="inlineRadio2" value="Chưa quy hoạch" checked>
                    <label class="form-check-label" for="inlineRadio2">Chưa quy hoạch</label>
                </div>
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">Chọn ảnh mới</label>
                <input name="image" class="form-control" type="file" id="formFile" require>
            </div>
            <% if (user.role !== 'so') { %>
            <div class="mb-3">
                <label for="moTa" class="form-label">Lý do chỉnh sửa</label>
                <textarea name="reason" class="form-control" id="moTa" rows="3"></textarea>
            </div>
            <% } %>
            <div class="mb-3 text-center">
                <button class="btn btn-info">Thêm điểm đặt</button>
            </div>
        </form>
    </div>
    <%-include("../../../partials/so/popUpMap.ejs")%>
</div>

<style>
    label {
        font-weight: bold;
    }
    #coord, #address {
        background-color: #e9ecef;
    }
</style>

<script src="/so/javascripts/add_edit_diemdat.js"></script>