<% layout('layouts/canbo') %> <%-include("../../../partials/breadcrumb.ejs")%>
<div class="row mt-3">
    <div class="col-6 offset-3">
        <h1 class="text-center mb-4">Chỉnh sửa điểm đặt quảng cáo</h1>
        <form action="#">
            <div class="row">
                <div class="mb-3 col-6">
                    <label for="address" class="form-label"><b>Địa chỉ </b></label>
                    <input type="text" class="form-control" id="address" placeholder="" value="<%= adLocation.address %>" disabled readonly>
                </div>
                <div class="mb-3 col-3">
                    <label for="district" class="form-label"><b>Quận</b></label>
                    <input type="text" class="form-control" id="district" placeholder="" value="<%= adLocation.district %>" disabled readonly>
                </div>
                <div class="mb-3 col-3">
                    <label for="ward" class="form-label"><b>Phường</b></label>
                    <input type="text" class="form-control" id="ward" placeholder="" value="<%= adLocation.ward %>" disabled readonly>
                </div>
            </div>
            <div class="mb-3">
                <label for="boardType" class="form-label"><b>Loại vị trí</b></label>
                <select class="form-select" aria-label="Default select example" id="boardType">
                    <% for (let locationType of locationTypes) { %>
                        <% if (locationType.name === adLocation.type) { %>
                        <option value="" selected><%= locationType.name %></option>
                        <% } else { %>
                        <option value="<%= locationType.name %>"><%= locationType.name %></option>
                        <% } %>
                    <% } %>
                  </select>
            </div>
            <div class="mb-3">
                <label for="boardType" class="form-label"><b>Hình thức</b></label>
                <select class="form-select" aria-label="Default select example" id="boardType">
                    <% for (let adType of adTypes) { %>
                        <% if (adType.name === adLocation.adType) { %>
                        <option value="" selected><%= adType.name %></option>
                        <% } else { %>
                        <option value="<%= adType.name %>"><%= adType.name %></option>
                        <% } %>
                    <% } %>
                  </select>
            </div>
            <div class="mb-3">
                <p><b>Quy hoạch</b></p>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" <%= (adLocation.status == 'Đã quy hoạch')? "checked" : "" %> >
                    <label class="form-check-label" for="inlineRadio1">Đã quy hoạch</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" <%= (adLocation.status == 'Chưa quy hoạch')? "checked" : "" %>>
                    <label class="form-check-label" for="inlineRadio2">Chưa quy hoạch</label>
                </div>
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label"><b>Chọn ảnh mới</b></label>
                <input class="form-control" type="file" id="formFile">
            </div>
            <% if (user.role !== 'so') { %>
            <div class="mb-3">
                <label for="moTa" class="form-label"><b>Lý do chỉnh sửa</b></label>
                <textarea class="form-control" id="moTa" rows="3"></textarea>
            </div>
            <% } %>
            <div class="mb-3 text-center">
                <button class="btn btn-info">Chỉnh sửa</button>
            </div>
        </form>
    </div>
</div>

<script>
    function resizeInput(input) {
        input.style.width = input.value.length + 'ch';
    }
</script>