<% layout('layouts/canbo') %>
<link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet" />
<script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>

<!-- Load the `mapbox-gl-geocoder` plugin. -->
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css" />

<div class="row mt-3 position-relative">
    <div class="container rounded border shadow col-8" style="padding: 1rem 7rem;">
        <h1 class="text-center mb-4">Chỉnh sửa điểm đặt quảng cáo</h1>
        <form action="<%= user.role === 'so' ? '/so/quanly/diem-dat-quang-cao/' + adLocation._id + '?_method=PUT' : postDest %>" method="post" enctype="multipart/form-data">

            <% if (user.role === 'so') { %>
                <div class="mb-3">
                    <label for="coord" class="form-label">Toạ độ</label>
                    <div class="input-group">
                        <input name="item[latlng]" id="coord" type="text" class="form-control" value="<%= adLocation.latlng %>" readonly required>
                        <span class="input-group-text globe-icon" id="basic-addon2"><i class="bi bi-globe2"></i></span>
                    </div>
                </div>
            <%}%>
            <div class="row">
                <div class="mb-3">
                    <label for="address" class="form-label">Địa chỉ </label>
                    <input name="item[address]" value="<%= adLocation.address %>" type="text" class="form-control" id="address" readonly required>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-6">
                    <label for="district" class="form-label">Quận</label>
                    <div>
                        <input id="displayDistrict" value="<%= adLocation.district.name %>" class="form-control" readonly disabled></input>
                        <input name="item[district]" value="<%= adLocation.district._id %>" type="text" class="form-control d-none" id="district" readonly required>
                    </div>
                </div>
                <div class="mb-3 col-6">
                    <label for="ward" class="form-label">Phường</label>
                    <div>
                        <input id="displayWard" value="<%= adLocation.ward.name %>" class="form-control" readonly disabled></input>
                        <input name="item[ward]" value="<%= adLocation.ward._id %>" type="text" class="form-control d-none" id="ward" readonly required>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="boardType" class="form-label">Loại vị trí</label>
                <select name="item[type]" class="form-select" aria-label="Default select example" id="boardType">
                    <% for (let locationType of locationTypes) { %>
                        <% if (locationType.name === adLocation.type.name) { %>
                        <option value="<%= locationType._id %>" selected><%= locationType.name %></option>
                        <% } else { %>
                        <option value="<%= locationType._id %>"><%= locationType.name %></option>
                        <% } %>
                    <% } %>
                  </select>
            </div>
            <div class="mb-3">
                <label for="boardType" class="form-label">Hình thức</label>
                <select name="item[adType]" class="form-select" aria-label="Default select example" id="boardType">
                    <% for (let adType of adTypes) { %>
                        <% if (adType.name === adLocation.adType.name) { %>
                        <option value="<%= adType._id %>" selected><%= adType.name %></option>
                        <% } else { %>
                        <option value="<%= adType._id %>"><%= adType.name %></option>
                        <% } %>
                    <% } %>
                  </select>
            </div>
            <div class="mb-3">
                <p>Quy hoạch</p>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="item[status]" id="inlineRadio1" value="Đã quy hoạch" <%= (adLocation.status == 'Đã quy hoạch')? "checked" : "" %> >
                    <label class="form-check-label" for="inlineRadio1">Đã quy hoạch</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="item[status]" id="inlineRadio2" value="Chưa quy hoạch" <%= (adLocation.status == 'Chưa quy hoạch')? "checked" : "" %>>
                    <label class="form-check-label" for="inlineRadio2">Chưa quy hoạch</label>
                </div>
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">Chọn ảnh mới</label>
                <input name="image" class="form-control" type="file" id="formFile" accept="image/png, image/jpeg">
            </div>
            <% if (user.role !== 'so') { %>
            <div class="mb-3">
                <label for="moTa" class="form-label">Lý do chỉnh sửa</label>
                <textarea name="reason" class="form-control" id="moTa" rows="3"></textarea>
                <div id="validationFeedback" class="invalid-feedback">
                    Hãy cung cấp lý do chỉnh sửa
                </div>
            </div>
            <div class="mb-3 text-center">
                <button class="btn btn-info" id="editButton">Gửi yêu cầu chỉnh sửa</button>
              </div>
              <% } else {%>
              <div class="mb-3 text-center">
                <button class="btn btn-info" id="editButton">Chỉnh sửa</button>
              </div>
              <%}%>
        </form>
    </div>
    <% if (user.role === 'so') { %>
        <%-include("../../../partials/so/popUpMap.ejs")%>
    <%}%>
</div>

<style>
    label {
        font-weight: bold;
    }
    #coord, #address {
        background-color: #e9ecef;
    }
</style>

<script src="/so/javascripts/add_edit_diemdat.js"></script>
