<% layout('layouts/canbo') %> <%-include("../../../partials/breadcrumb.ejs")%>
<link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>

<!-- Load the `mapbox-gl-geocoder` plugin. -->
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">

<div class="row mt-3 position-relative">
    <div class="col-6 offset-3">
        <h1 class="text-center mb-4">Chỉnh sửa điểm đặt quảng cáo</h1>
        <form action="#">
            <div class="mb-3">
                <label for="coord" class="form-label"><b>Toạ độ</b></label>
                <div class="input-group">
                    <input id="coord" type="text" class="form-control" value="<%= adLocation.longLat %>" aria-label="Recipient's username" aria-describedby="basic-addon2" disabled readonly>
                    <span class="input-group-text globe-icon" id="basic-addon2"><i class="bi bi-globe" ></i></span>
                </div>
                </div>
            <div class="mb-3">
                <label for="address" class="form-label"><b>Địa chỉ </b></label>
                <input type="text" class="form-control" id="address" value="<%= adLocation.address %>" disabled readonly>
            </div>
            <div class="row">
                <div class="mb-3 col-6">
                    <label for="district" class="form-label"><b>Quận</b></label>
                    <input type="text" class="form-control" id="district"  value="<%= adLocation.district %>" disabled readonly>
                </div>
                <div class="mb-3 col-6">
                    <label for="ward" class="form-label"><b>Phường</b></label>
                    <input type="text" class="form-control" id="ward"  value="<%= adLocation.ward %>" disabled readonly>
                </div>
            </div>
            <div class="mb-3">
                <label for="boardType" class="form-label"><b>Loại vị trí</b></label>
                <select class="form-select" aria-label="Default select example" id="boardType">
                    <% for (let locationType of locationTypes) { %>
                        <% if (locationType.name === adLocation.type) { %>
                        <option value="" selected><%= locationType.name %></option>
                        <% } else { %>
                        <option value="<%= locationType.name %>"><%= locationType.name %></option>
                        <% } %>
                    <% } %>
                  </select>
            </div>
            <div class="mb-3">
                <label for="boardType" class="form-label"><b>Hình thức</b></label>
                <select class="form-select" aria-label="Default select example" id="boardType">
                    <% for (let adType of adTypes) { %>
                        <% if (adType.name === adLocation.adType) { %>
                        <option value="" selected><%= adType.name %></option>
                        <% } else { %>
                        <option value="<%= adType.name %>"><%= adType.name %></option>
                        <% } %>
                    <% } %>
                  </select>
            </div>
            <div class="mb-3">
                <p><b>Quy hoạch</b></p>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" <%= (adLocation.status == 'Đã quy hoạch')? "checked" : "" %> >
                    <label class="form-check-label" for="inlineRadio1">Đã quy hoạch</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" <%= (adLocation.status == 'Chưa quy hoạch')? "checked" : "" %>>
                    <label class="form-check-label" for="inlineRadio2">Chưa quy hoạch</label>
                </div>
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label"><b>Chọn ảnh mới</b></label>
                <input class="form-control" type="file" id="formFile">
            </div>
            <% if (user.role !== 'so') { %>
            <div class="mb-3">
                <label for="moTa" class="form-label"><b>Lý do chỉnh sửa</b></label>
                <textarea class="form-control" id="moTa" rows="3"></textarea>
            </div>
            <% } %>
            <div class="mb-3 text-center">
                <button class="btn btn-info">Chỉnh sửa</button>
            </div>
        </form>
    </div>
    <div class="d-none position-absolute col-8 offset-2 rounded border border-2 border-primary map-window bg-light p-0 d-flex flex-column"
    style="height: 500px;" id="map-window">
        <div class="d-flex justify-content-between bg-primary">
            <div class="btn bg-success rounded-0 text-light" id="save">Save</div>
            <div class="btn bg-danger rounded-0 text-light" id="cancel">Cancel</div>
        </div>
        <div id="map" class="flex-grow-1"></div>
    </div>
</div>


<script src="/so/javascripts/add_edit_diemdat.js"></script>