<% layout('layouts/canbo') %>
<section class="d-flex justify-content-between">
    <%- include('../../../partials/so/quanLyDropdown') %>
    <div>
        <a class="btn btn-primary rounded-pill" href="/so/quanly/diem-dat-quang-cao/add" role="button">Thêm <i class="bi bi-plus"></i></a>
    </div>
</section>
<section class="overflow-auto my-3 border rounded">
    <div class=" ">
        <table class="table table-light table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Địa chỉ</th>
                    <th scope="col">Khu vực</th>
                    <th scope="col">Phân loại</th>
                    <th scope="col">Hình thức</th>
                    <th scope="col">Tình trạng</th>
                </tr>
            </thead>
            <tbody>
                <% let i = 1; %>
                <% for (let adLocation of adLocations) { %>
                <tr class='clickable' onclick= "window.location='/so/quanly/diem-dat-quang-cao/<%= adLocation.id %>'">
                    <th scope="row"><%= i++ %></th>
                    <td><%= adLocation.address %></td>
                    <td>Quận <%= adLocation.district.name %>, Phường <%= adLocation.ward.name %></td>
                    <td><%= adLocation.type.name %></td>
                    <td><%= adLocation.adType.name %></td>
                    <td class="min-w"><div class="rounded-pill text-center text-light <%= (adLocation.status == 'Đã quy hoạch')? 'bg-success' : 'bg-danger'  %>"><%= adLocation.status %></div></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</section>
<%- include('../../../partials/pagination') %>
<style>
    /* Add this style to your custom CSS or in a style tag within your HTML */
    .min-w {
      min-width: 140px; /* Set the desired minimum width */
    }
  </style>