<% layout('layouts/canbo') %>

  <style>
    .status {
      border-radius: 1rem;
    }

    .status.notAccept {
      background-color: #F6808e;
    }

    .status.Accept {
      background-color: #80f6b0;
    }

    .status.notHandle {
      background-color: #9780f6;
    }

    p {
      margin: 0;
      padding: 0;
      text-align: center;
    }

    .table-hover {
      color: aquamarine;
    }
  </style>

  <script>
    jQuery(document).ready(function ($) {
      $(".clickable-row").click(function () {
        window.location = $(this).data("href");
      });
    });
  </script>

  <section class="d-flex justify-content-between">
    <div>
      <%- include('../../partials/so/hanhChinhDropdown') %>
    </div>
    <div class="d-flex flex-row align-items-center">
      <div class="md-col-2 me-2">
        <button type="button" class="btn btn-warning btn-sm btn-responsive"><span
            class="bi bi-arrows-vertical"></span>Sắp xếp</button>
      </div>
      <div class="md-col-2 me-2">
        <button type="button" class="btn btn-primary btn-sm btn-responsive"><span
            class="bi bi-filter"></span>Lọc</button>
      </div>
      <div class="md-col-3">
        <div class="input-group">
          <input class="form-control border-right-0" placeholder="Tìm yêu cầu">
          <span class="input-group-append bg-white border-left-0">
            <button class="input-group-text bg-transparent">
              <i class="bi bi-search"></i>
            </button>
          </span>
        </div>
      </div>
  </section>
  <section class="border rounded mt-2">
    <table class="table table-light table-striped table-hover">
      <thead>
        <tr>
          <th scope="col" style="width:2%">STT</th>
          <th scope="col" style="width:20%">Địa chỉ</th>
          <th scope="col" style="width:18%">Khu vực</th>
          <th scope="col" style="width:12%">Phân loại</th>
          <th scope="col" style="width:20%">Hình thức</th>
          <th scope="col" style="width:10%">Quy hoạch</th>
          <th scope="col" style="width:10%">Thời gian gửi</th>
          <th class="text-center" scope="col" style="width:15%">Tình trạng</th>
        </tr>
      </thead>
      <tbody>
        <% let i = 1; %>
        <% for (let motChinhDiemQC of ChinhDiemQC ) { %>
          <tr class="clickable-row" data-href='chinh-diem-qc/chi-tiet-yeu-cau/<%= motChinhDiemQC._id %>'>
            <th scope="row">
              <%= i++ %>
            </td>
            <td class="md-col-2">
              <%= motChinhDiemQC.adLocation?.address %>
            </td>
            <td>
              Phường <%= motChinhDiemQC.adLocation?.ward.name %>, Quận <%= motChinhDiemQC.adLocation?.district.name %>
            </td>
            <td>
              <%= motChinhDiemQC.adLocation?.adType.name %>
            </td>
            <td>
              <%= motChinhDiemQC.adLocation?.type.name %>
            </td>
            <td>
              <%= motChinhDiemQC.adLocation?.status %>
            </td>
            <td>
              <%= new Date(motChinhDiemQC?.sendDate).toLocaleDateString() %>
            </td>
            <% if (motChinhDiemQC.status ==='Không duyệt' ) { %>
              <td>
                <p class="status notAccept">Không duyệt</p>
              </td>
              <% } else if (motChinhDiemQC.status ==='Đã duyệt' ) { %>
                <td>
                  <p class="status Accept">Đã duyệt</p>
                </td>
                <% } else { %>
                  <td>
                    <p class="status notHandle">Chưa duyệt</p>
                  </td>
                  <% } %>
          </tr>
          <% } %>
      </tbody>
    </table>
  </section>
  <section class="d-flex justify-content-center mt-auto">
    <nav aria-label="...">
      <ul class="pagination m-0 justify-content-end">
        <li class="page-item disabled">
          <a class="page-link">Trang trước</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active" aria-current="page">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Trang sau</a>
        </li>
      </ul>
    </nav>
  </section>