<% layout('layouts/canbo') %>

  <style>
    .status {
      border-radius: 1rem;
    }

    .status.notAccept {
      background-color: #F6808e;
    }

    .status.Accept {
      background-color: #80f6b0;
    }

    .status.notHandle {
      background-color: #9780f6;
    }

    p {
      margin: 0;
      padding: 0;
      text-align: center;
    }

    tr:hover td {
      background-color: #d9d9d9;
      cursor: pointer;
    }
  </style>

  <script>
    jQuery(document).ready(function ($) {
      $(".clickable-row").click(function () {
        window.location = $(this).data("href");
      });
    });
  </script>

  <section class="d-flex justify-content-between">
    <div class="d-flex flex-row">
      <%- include('../../partials/so/hanhChinhDropdown') %>
      <!-- <div class="d-flex flex-row ms-4 align-items-center">
        <a class="btn btn-primary btn-sm btn-responsive" href="/so/hanhchinh/cap-phep-qc" role="button">
          <span class="bi bi-trash3" </span> Xóa lọc</a>
      </div> -->
    </div>
    <!-- <div class="d-flex flex-row align-items-center">
      <div class="md-col-2 me-2">
        <button type="button" class="btn btn-warning btn-sm btn-responsive"><span
            class="bi bi-arrows-vertical"></span> Sắp Xếp</button>
      </div>
      <div class="md-col-2 me-2">
        <button type="button" class="btn btn-primary btn-sm btn-responsive"><span
            class="bi bi-filter"></span> Lọc</button>
      </div>
      <div class="md-col-2 me-2">
        <button type="button" class="btn btn-success btn-sm btn-responsive"><span
            class="bi bi-file-earmark-excel-fill"></span> Xuất Excel</button>
      </div>
    </div> -->
  </section>
  <section class="overflow-auto my-3 border rounded">
    <table class="table table-light table-striped table-hover">
      <thead>
        <tr>
          <th scope="col" style="width:2%">STT</th>
          <th scope="col" style="width:25%">Địa chỉ</th>
          <th scope="col" style="width:20%">Khu vực</th>
          <th scope="col" style="width:14%">Loại bảng</th>
          <th scope="col" style="width:9%">Kích thước</th>
          <th scope="col" style="width:7%">Số lượng</th>
          <th scope="col" style="width:10%">Thời gian gửi</th>
          <th class="text-center" scope="col" style="width:10%">Tình trạng</th>
        </tr>
      </thead>
      <tbody>
        <% let i = 1; %>
        <% for (let motCapPhepQC of CapPhepQC ) { %>
          <tr class="clickable-row" data-href='/so/hanhchinh/cap-phep-qc/chi-tiet-yeu-cau/<%= motCapPhepQC._id %>'>
            <th scope="row">
              <%= i++ %>
            </td>
            <td class="md-col-2">
              <%= motCapPhepQC.adBoard?.adLocation.address %>
            </td>
            <td>
              Phường <%= motCapPhepQC.adBoard?.adLocation.ward.name %>, Quận <%= motCapPhepQC.adBoard?.adLocation.district.name %>
            </td>
            <td>
              <%= motCapPhepQC.adBoard?.boardType.name %>
            </td>
            <td>
              <%= motCapPhepQC.adBoard?.size.h %>m x <%= motCapPhepQC.adBoard?.size.w %>m
            </td>
            <td>
              <%= motCapPhepQC.adBoard?.quantity %>
            </td>
            <td>
              <%= new Date(motCapPhepQC?.sendDate).toLocaleDateString() %>
            </td>
            <% if (motCapPhepQC.adBoard.status == 'Không duyệt') { %>
              <td>
                <p class="status notAccept">Không duyệt</p>
              </td>
            <% } else if (motCapPhepQC.adBoard.status == 'Đã duyệt') { %>
              <td>
                <p class="status Accept">Đã duyệt</p>
              </td>
            <% } else { %>
              <td>
                <p class="status notHandle">Chưa duyệt</p>
              </td>
            <% } %>
          </tr>
          <% } %>
      </tbody>
    </table>
  </section>
<%- include('../../partials/pagination') %>
</form>
<style>
  /* Add this style to your custom CSS or in a style tag within your HTML */
  .min-w {
    min-width: 140px; /* Set the desired minimum width */
  }
</style>