<% layout('layouts/canbo') %>
<section class="d-flex justify-content-between">
  <div class="d-flex flex-row">
    <%- include('../partials/phuong/dropdown') %> <%if (user.role == "quan") {%> <%- include('../partials/quan/phuong-dropdown') %> <%}%>
  </div>
</section>
<section class="overflow-auto my-3 border rounded">
  <div class=" ">
    <table class="table table-hover table-light table-striped">
      <thead>
        <tr>
          <th scope="col">Địa chỉ</th>
          <th scope="col">Khu vực</th>
          <th scope="col">Phân loại</th>
          <th scope="col">Hình thức</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</section>
<section class="d-flex justify-content-center mt-auto">
  <nav aria-label="...">
    <ul class="pagination m-0 justify-content-end">
      <li class="page-item disabled">
        <a class="page-link">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active" aria-current="page">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
</section>
<script>
  let district = "<%= user.district._id %>";
  const allAdLocations = JSON.parse(decodeURIComponent("<%= adLocations %>"));

  document.addEventListener("DOMContentLoaded", function () {
    // Get the select element
    const selectPhuong = document.querySelector("#phuong-dropdown");
    if (selectPhuong) {
      // Add an event listener for the change event
      selectPhuong.addEventListener("change", function () {
        // Get the selected value
        const selectedValue = selectPhuong.value;
        fetchAdLocations(selectedValue);
      });

      // Initial fetch based on the first ward in the dropdown
      updateTableWithData(allAdLocations);
    } else {
      // init table
      updateTableWithData(JSON.parse(decodeURIComponent("<%= adLocations %>")));
    }
  });

  // handle on click for each item on the list
  document.addEventListener("DOMContentLoaded", function () {
    // Use event delegation for click events on the table: use the parent
    document.querySelector("table").addEventListener("click", function (event) {
      const clickedRow = event.target.closest(".clickable-row");
      if (clickedRow) {
        window.location = clickedRow.getAttribute("data-href");
      }
    });
  });

  async function fetchAdLocations(ward) {
    // Filter ad locations based on the selected ward
    const filteredAdLocations = allAdLocations.filter((adLocation) => {
      return adLocation.ward._id == ward && adLocation.district._id == district;
    });

    // Update the table with the filtered data
    updateTableWithData(filteredAdLocations);
  }

  function updateTableWithData(data) {
    // Clear existing table rows
    const tableBody = document.querySelector("tbody");
    tableBody.innerHTML = "";

    // Populate the table with the new data
    data.forEach((adLocation) => {
      const newRow = document.createElement("tr");
      newRow.classList.add("clickable-row");
      newRow.setAttribute("data-href", `/cac-diem-dat-quang-cao/${adLocation._id}`);

      newRow.innerHTML = `
        <td>${adLocation.address}</td>
        <td class="khuVucField">Phường ${adLocation.ward.name}, Quận ${adLocation.district.name}</td>
        <td>${adLocation.adType.name}</td>
        <td>${adLocation.type.name}</td>
        <td><div class="d-flex"></div></td>
      `;

      tableBody.appendChild(newRow);
    });
  }
</script>
