<% layout('layouts/canbo') %>

<section class="d-flex justify-content-between"><%if (user.role == "quan") {%> <%- include('../partials/quan/phuong-dropdown') %> <%}%></section>
<section class="overflow-auto my-3 border rounded">
  <div class=" ">
    <table class="table table-hover table-light table-striped">
      <thead>
        <tr>
          <th scope="col">No.</th>

          <th scope="col">Thời điểm gửi</th>
          <th scope="col">Người gửi</th>
          <th scope="col">Địa chỉ</th>
          <th scope="col">Khu vực</th>
          <th scope="col">Hình thức báo cáo</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% reports.forEach((report, index) => { %>
        <tr class="clickable-row" onclick="window.location='/cac-bao-cao/<%= report._id %>'">
          <td><%= index + 1 %></td>
          <td><%= new Date(report.sendDate).toLocaleString() %></td>
          <td><%= report.fullName %></td>
          <% if (report.randomPoint) { %>
          <td><%= report.randomPoint.address %></td>
          <td class="khuVucField">Phường <%= report.randomPoint.ward.name %>, Quận <%= report.randomPoint.district.name %></td>
          <td><%= report.reportType.name %></td>
          <td><div class="d-flex"></div></td>
          <% } else { %>
          <td><%= report.adBoard.adLocation.address %></td>
          <td class="khuVucField">Phường <%= report.adBoard.adLocation.ward.name %>, Quận <%= report.adBoard.adLocation.district.name %></td>
          <td><%= report.reportType.name %></td>
          <td><div class="d-flex"></div></td>
          <% } %>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</section>
<%- include('../partials/pagination') %>
