<% layout('layouts/canbo') %>

<div class="card m-auto" style="background: #f8f8fd" style="width: 5rem">
  <h5 class="card-header bg-primary-subtle">Chi tiết báo cáo</h5>
  <div class="card-body container">
    <div class="row mb-3">
      <div class="col-md-5">
        <div class="input-group">
          <span class="input-group-text bg-body-secondary fw-semibold">Thời điểm gửi</span>
          <span class="form-control" aria-label="Thời điểm gửi"><%=new Date(JSON.parse(decodeURIComponent(report)).sendDate).toLocaleString()%></span>
        </div>
      </div>

      <div class="col-md-7">
        <div class="input-group">
          <span class="input-group-text bg-body-secondary fw-semibold">Địa điểm bị báo cáo</span>
          <span class="form-control custom-width" aria-label="Địa điểm bị báo cáo"
            ><% if (JSON.parse(decodeURIComponent(report)).adBoard ) { %>
            <a href="/cac-bang-quang-cao/<%=JSON.parse(decodeURIComponent(report)).adBoard._id%>">
              <%=JSON.parse(decodeURIComponent(report)).adBoard.adLocation.address%>, Phường
              <%=JSON.parse(decodeURIComponent(report)).adBoard.adLocation.ward.name%>, Quận
              <%=JSON.parse(decodeURIComponent(report)).adBoard.adLocation.district.name%>
            </a>
            <% } else { %> <%=JSON.parse(decodeURIComponent(report)).randomPoint.address%>, Phường
            <%=JSON.parse(decodeURIComponent(report)).randomPoint.ward.name%>, Quận <%=JSON.parse(decodeURIComponent(report)).randomPoint.district.name%> <% }
            %>
          </span>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-text bg-body-secondary fw-semibold">Họ tên người gửi</span>
          <span class="form-control" aria-label="Họ tên người gửi"><%=JSON.parse(decodeURIComponent(report)).fullName%></span>
        </div>
      </div>

      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-text bg-body-secondary fw-semibold">Email</span>
          <span class="form-control" aria-label="Email"><%=JSON.parse(decodeURIComponent(report)).email%></span>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-text bg-body-secondary fw-semibold">Điện thoại liên lạc</span>
          <span class="form-control" aria-label="Điện thoại liên lạc"><%=JSON.parse(decodeURIComponent(report)).phone%></span>
        </div>
      </div>

      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-text bg-body-secondary fw-semibold">Hình thức báo cáo</span>
          <span class="form-control" aria-label="Hình thức báo cáo"><%=JSON.parse(decodeURIComponent(report)).reportType.name%> </span>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <div class="input-group">
          <span class="input-group-text bg-body-secondary fw-semibold">Hình minh họa</span>
          <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <% if(JSON.parse(decodeURIComponent(report)).uploadedImages && JSON.parse(decodeURIComponent(report)).uploadedImages.length > 0) { %> <%
              JSON.parse(decodeURIComponent(report)).uploadedImages.forEach(function(image, index) { %>
              <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                <img src="<%=image.url%>" class="d-block w-50" alt="hinh-minh-hoa" />
              </div>
              <% }); %> <% } else { %>
              <p>No images to display</p>
              <% } %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <div class="input-group">
          <span class="input-group-text bg-body-secondary fw-semibold">Nội dung</span>
          <div class="form-control" aria-label="content" style="max-width: 100%"><%= JSON.parse(decodeURIComponent(report)).content %></div>
        </div>
      </div>
    </div>
    <div class="row">
      <button type="button" class="btn btn-secondary w-auto m-auto" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Cập nhật tình trạng và cách thức xử lý
      </button>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <form class="modal-content" action="/cac-bao-cao/<%=JSON.parse(decodeURIComponent(report))._id%>/update-report-status" method="post" id="updateReport">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Cập nhật tình trạng và cách thức xử lý</h1>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <span class="input-group-text bg-body-secondary fw-semibold">Tình trạng xử lý</span>
          <select class="form-select" aria-label="Tình trạng xử lý" name="status" required>
            <!-- <option value="" disabled selected>Chọn tình trạng xử lý</option> -->
            <option value="Đang xử lý" selected>Đang xử lý</option>
            <option value="Đã xử lý xong">Đã xử lý xong</option>
          </select>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text bg-body-secondary fw-semibold">Cách thức xử lý</span>
          <textarea name="method" class="form-control" aria-label="Cách thức xử lý" rows="5" id="handlingProcedure"></textarea>
          <div id="validationFeedback" class="invalid-feedback">Không được để trống cách thức xử lý</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="submit-button" class="btn btn-primary">Cập nhật</button>
      </div>
    </form>
  </div>
</div>
<script>
  let report = JSON.parse(decodeURIComponent("<%= report %>"));

  const statusDropdown = document.querySelector("select");
  const methodTextarea = document.querySelector("textarea[aria-label='Cách thức xử lý']");

  document.addEventListener("DOMContentLoaded", () => {
    const submitButton = document.getElementById("submit-button");
    submitButton.onclick = (event) => {
      console.log("not empty");
      let methodEmpty = document.getElementById("handlingProcedure").value === "";

      if (methodEmpty) {
        event.preventDefault();
        event.stopPropagation();
        document.getElementById("handlingProcedure").classList.add("is-invalid");
      } else {
        document.getElementById("handlingProcedure").classList.remove("is-invalid");
      }
    };

    // Get previous status and method on page load
    const lastReportStatus = report.status;
    const lastReportMethod = report.handlingProcedure;
    // const lastReportStatus = localStorage.getItem("lastReportStatus");
    // const lastReportMethod = localStorage.getItem("lastReportMethod");

    // if (lastReportStatus) {
    document.querySelector(`option[value="${lastReportStatus}"]`).selected = true;
    // }

    if (lastReportMethod) {
      methodTextarea.value = lastReportMethod;
    }
  });
</script>
