<% layout('layouts/canbo') %>
<section class="d-flex justify-content-between">
  <div class="d-flex flex-row">
    <%- include('../partials/phuong/dropdown') %> <%if (user.role == "quan") {%> <%- include('../partials/quan/phuong-dropdown') %> <%}%>
  </div>
</section>
<section class="overflow-auto my-3 border rounded">
  <div class=" ">
    <table class="table table-hover table-light table-striped">
      <thead>
        <tr>
          <th scope="col">No.</th>

          <th scope="col">Địa chỉ</th>
          <th scope="col">Khu vực</th>
          <th scope="col">Loại bảng</th>
          <th scope="col">Kích thước</th>
          <th scope="col">Số lượng</th>
          <th scope="col">Tình trạng</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% adBoardReqs.forEach((adBoardReq, index) => { %>
        <tr class="clickable-row" onclick="window.location='/cac-yeu-cau-cap-phep/<%= adBoardReq._id %>'">
          <td><%= index + 1 %></td>
          <td><%= adBoardReq.adBoard.adLocation.address %></td>
          <td class="khuVucField">Phường <%= adBoardReq.adBoard.adLocation.ward.name %>, Quận <%= adBoardReq.adBoard.adLocation.district.name %></td>
          <td><%= adBoardReq.adBoard.boardType.name %></td>
          <td><%= adBoardReq.adBoard.size.w %>m x <%= adBoardReq.adBoard.size.h %>m</td>
          <td><%= adBoardReq.adBoard.quantity %></td>
          <td class="min-w">
            <% if (adBoardReq.adBoard.status === "Chưa duyệt") { %>
            <div class="rounded-pill text-center text-light bg-secondary">Chưa duyệt</div>
            <% } else if (adBoardReq.adBoard.status === "Không duyệt") { %>
            <div class="rounded-pill text-center text-light bg-danger">Không duyệt</div>
            <% } else { %>
            <div class="rounded-pill text-center text-light bg-success">Đã duyệt</div>
            <% } %>
          </td>
          <td>
            <div class="d-flex"></div>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</section>
<%- include('../partials/pagination') %>
<style>
  .min-w {
    min-width: 140px; /* Set the desired minimum width */
  }
</style>
