<% layout('layouts/canbo') %>
<div class="container rounded border shadow col-8 my-auto" style="padding: 1rem 7rem;">
    <h1 class="text-center mb-4">Chỉnh sửa <%= props.type %></h1>
    <form action="<%= props.updatePath %>?_method=put" method="post">
        <div class="mb-3">
            <label for="tenQuan" class="form-label">Tên <%= props.type %></label>
            <input name="item[name]" type="text" class="form-control" id="tenQuan" value="<%= item.name %>" required>
        </div>
        <div class="mb-3">
            <label for="moTa" class="form-label">Mô tả</label>
            <textarea name="item[description]" class="form-control" id="moTa" rows="3"><%= item.description %></textarea>
        </div>
        <div class="mb-3">
            <label for="moTa" class="form-label">Chú thích</label>
            <textarea name="item[note]" class="form-control" id="moTa" rows="3"><%= item.note %></textarea>
        </div>
        <div class="mb-3 text-center">
            <button class="btn btn-info">Chỉnh sửa</button>
        </div>
    </form>
</div>