<% layout('layouts/canbo') %>
<section class="d-flex justify-content-between">
    <%- include('../../../partials/so/quanLyDropdown') %>
    <div>
        <a class="btn btn-primary rounded-pill" href="/so/quanly/<%= props.pathName %>/add" role="button">Thêm <i class="bi bi-plus"></i></a>
    </div>
</section>
<section class="overflow-auto my-3 border rounded">
    <div class=" ">
        <table class="table table-light table-striped">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Tên <%= props.name %></th>
                    <th scope="col">Mô tả</th>
                    <th scope="col">Chú thích</th>
                    <th scope="col">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                <% let i = 1 %>
                <% for (let item of items) { %>
                <tr class="myElement">
                    <th scope="row"><%= i++ %></th>
                    <td class="text-break"><%= item.name %></td>
                    <td class="text-break"><%= item.description %></td>
                    <td class="text-break"><%= item.note %></td>
                    <td class="text-break">
                        <div class="d-flex">
                            <a href="/so/quanly/<%= props.pathName %>/<%= item.id %>/edit"><i class="bi bi-pencil-fill btn p-0 btn-link"></i></a>
                            <form class="showPopUp" action="/so/quanly/<%= props.pathName %>/<%= item.id %>?_method=DELETE"method="post">
                                <button class="btn btn-link p-0 ms-2"><i class="bi bi-trash3-fill"></i></button>
                            </form>
                        </div>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</section>
<%- include('../../../partials/pagination') %>